@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 16 100% 95%;
    --foreground: 16 5% 7%;
    --card: 16 50% 90%;
    --card-foreground: 16 5% 10%;
    --popover: 16 100% 95%;
    --popover-foreground: 16 100% 7%;
    --primary: 16 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -22 30% 85%;
    --muted-foreground: 16 5% 35%;
    --accent: -22 30% 80%;
    --accent-foreground: 16 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 16 5% 90%;
    --border: 16 30% 50%;
    --input: 16 30% 18%;
    --ring: 16 88% 58%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 16 50% 7%;
    --foreground: 16 5% 90%;
    --card: 16 50% 7%;
    --card-foreground: 16 5% 90%;
    --popover: 16 50% 5%;
    --popover-foreground: 16 5% 90%;
    --primary: 16 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -22 30% 15%;
    --muted-foreground: 16 5% 60%;
    --accent: -22 30% 15%;
    --accent-foreground: 16 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 16 5% 90%;
    --border: 16 30% 18%;
    --input: 16 30% 18%;
    --ring: 16 88% 58%;
    --radius: 0.5rem;
  }
}
